@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Mulish:wght@300&family=Open+Sans&family=Poppins:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.slider_container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* ------------- Left Slide Section ------------ */
.left_slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left_slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left_slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.slide1 {
  background: linear-gradient(0deg, #09121f, #fef5ee);
}

.slide2 {
  background: linear-gradient(-45deg, #f3f3f5, #5da4f0);
  color: #0872c6 !important;
}

.slide3 {
  background: #31463d;
}

.slide4 {
  background: #af6e04;
}

/* ------------- Right Slide Section ------------ */
.right_slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right_slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.bg1 {
  background: url(Images/Ferrari.jpg);
}

.bg2 {
  background: url(Images/Bridge.jpg);
}

.bg3 {
  background: url(Images/Mountain.jpg);
}

.bg4 {
  background: url(Images/Watterfall.jpg);
}

/* ------------- Buttons Styling ------------ */
button {
  background: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider_container .action_buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 99;
}

.slider_container .action_buttons .up_button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider_container .action_buttons .down_button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
